<!-- Reactive Forms -->
<form [formGroup]="form">
    <div class="form-group">
        <!-- required, minlength, maxlength, patter: are html 5 attributes and are NOT used
        with reactive forms-->
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" class="form-control">
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <p *ngIf="username.errors.required">Username is required.</p>
            <p *ngIf="username.errors.minlength">Username should be a minimum of {{ username.errors.minlength.requiredLength }} characters</p>
            <p *ngIf="username.errors.cannotContainSpace">Username cannot contain space!</p>
            <p *ngIf="username.errors.shouldBeUnique">Username is already taken!</p>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="text" class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required.</div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>