<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <!-- adding ngModel tells angular to create a form control object under the hood 
      angular uses the name attribute to decide which property on the model to set
    -->
    <input ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" sid="firstName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
</div>
<button class="btn btn-primary">Submit</button>
</form>