
<!-- When you only have one property, you can bind it as 
    the property with the name of that directive-->
<input type="text" [appInputFormat]="'uppercase'">

<!-- safe traversal operation using question mark after potentially 
    null object -->
<!-- <span>{{ task.assignee?.name }}</span> -->

<!-- <span *ngIf="task.assignee">{{ task.assignee.name }}</span> -->

<!--<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<bootstrap-panel>
        <ng-container class="heading">Heading Custom</ng-container>
        <div class="body">
            <h2>Body</h2>
            <p>Some content here..</p>
        </div>
</bootstrap-panel>
-->
<!--
<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-like>
-->

<!--    + Directives
        - Structural: modify the structure of the DOM
        - Attribue: modify the attributes of DOM elements
-->

<!--
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
        No courses yet
</ng-template>
-->

<!-- using class binding to set active -->
<!--
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
-->

<!-- using ngswitch to render based on many values -->
<!-- <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- ngForOf (ngFor directive) : index is an exported value we can use -->
<!--
<ul>
    <li *ngFor="let course of courses; even as isEven">
        {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
    </li>
</ul>
-->

<!--<button (click)="onAdd()">Add</button>-->

<!--
<button (click)="loadCourses()">Load Courses</button>
<ul>
    <!-- track them by id for performance overhead instead of by memory reference
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{ course.name }}
    </li>
</ul>
-->

<!-- * tells angular to use an ng template -->
<!-- <div *ngIf="courses.length > 0; else noCourses">
    List of courses
</div>
<ng-template #noCourses>
    No courses
</ng-template> -->

<!-- how angular actually handles this through property binding -->
<!-- <ng-template [ngIf]="courses.length > 0">
    <div>
        List of coures
    </div>
</ng-template>
<ng-template [ngIf]="!(courses.length > 0)">
    No courses
</ng-template> -->

<!-- original messy way
<button
    [style.backgroundColor]="canSave ? 'blue' : 'gray'"
    [style.color]="canSave ? 'white' : 'black'"
    [style.fontWeight]="canSave ? 'bold' : 'normal'"
>

or

<button
    [ngStyle]="{
        'canSave': canSave ? 'blue' : 'gray',
        'color': canSave ? 'white' : 'black',
        'fontWeight': canSave ? 'bold' : 'normal'
    }"
>

cleaner solution with specific css classes instead
<button
    [ngClass]="{
        'can-save': canSave,
        'can-not-save': !canSave
      }">
Save
</button>
-->