<!--<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<bootstrap-panel>
        <ng-container class="heading">Heading Custom</ng-container>
        <div class="body">
            <h2>Body</h2>
            <p>Some content here..</p>
        </div>
</bootstrap-panel>
<app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></app-like>
-->

<!-- 
    + Directives
        - Structural: modify the structure of the DOM
        - Attribue: modify the attributes of DOM elements
-->

<!-- ng if
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    List of courses
</ng-template>
<ng-template #noCourses>
        No courses yet
</ng-template>
-->

<!-- using class binding to set active -->
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<!-- using ngswitch to render based on many values -->
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>